@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

.borderBlack {
  @apply border border-black/10;
}

/* View Transitions */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}
